<h1>Userのインデックスだよ</h1>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <tb>aaa</tb>
    <tb>aaa</tb>
    <tb>aaa</tb>
    <tb>aaa</tb>
    <tb>area</tb>
    <tb>aa</tb>
  </tr>
<% end %>
