// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import "bootstrap-sprockets";
 @import "bootstrap";

.body{
  .container{
    margin-top: 50px;
  }
}

.main-logo{
  a{
    color: #fff;
    font-size: 26px;
  }
}

.header{
	margin-bottom: 80px;
}

.col-xs-offset-4 {
	font-size:20px;
	border-radius:25px/25px ;
	background: -moz-linear-gradient(top, #FFC778, #FFF);
	background: -webkit-linear-gradient(top, #FFC778, #FFF);
	background: linear-gradient(to bottom, #FFC778, #FFF);
}

.col-xs-3 {
	font-size:20px;
}


.container-fluid {
	background: -moz-linear-gradient(top, #FFC778, #FFF);
	background: -webkit-linear-gradient(top, #FFC778, #FFF);
	background: linear-gradient(to bottom, #FFC778, #FFF);
}

navbar-brand {
	font-size:20px;
}

.h1 {
  padding: .5em .75em;
  background-color: #f6f6f6;
}

.h1-products-new {
  padding: .5em .75em;
  background-color: #f6f6f6;
  width:40%;
  margin:0 auto;
  margin-bottom: 20px;
}

