// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import "bootstrap-sprockets";
 @import "bootstrap";

.header{
	margin-bottom: 80px;
}

.body {
	background-color: #CEE3F6;
	background-image: url("desert.jpg")
}

.col-xs-offset-4 {
	background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
	font-size:20px;
	border-radius:25px/25px ;
}


.container-fluid {
	background: #A9F5D0;
}

