// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info-box{
    height: 200px;
	margin-top: 60px;
	border: double;
	position: relative;
}
.info-image{
    height: 100%;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
}
.purchase-button{
	position: absolute;
	top: 83px;
	left: 150px;
}
.back-button{
	position: absolute;
	top: 83px;
	right: 150px;
}
.pur-box{
	border: double;
}
.last-box{
	border: double;
}