<h1>Admins::Products#new</h1>

<%= form_for [:admins, @product] do |t| %>

	<h3>商品名</h3>
	<%= t.text_field :title %>

	<h3>レーベル名</h3>
	<%= t.collection_select :label_id, Label.all, :id, :name, :prompt => "選択" %>

	<h3>値段</h3>


	<h3>在庫数</h3>


    <h4><%= t.submit '投稿' %></h4>

<%end%>

<!-- ディスク名 -->
<!-- 曲名 -->
